@media (max-width: 710px) {
  .show-sm {
    display: block;
  }

  .show-lg {
    display: none;
  }

  .img-game {
    height: 120px;
    padding: 5px;
  }

  .container-allgame {
    padding-left: 5% !important;
  }

  .container-allitem-sm {
    display: block;
  }

  .carousel-cell-game {
    margin-right: 1%;
    width: 30%;
  }

  .content-first-bg {
    // margin-top: 6%;
  }

  .navbar {
    padding: 0.2rem;
  }

  .logo {
    width: 5rem;
  }

  .nav-list-menu li a {
    font-size: 9px;
  }

  .navbar-register {
    width: 10rem;
    text-align: end;
  }

  .nav-btn-register,
  .nav-btn-signin {
    width: 3.5rem;
    height: 1.5rem;
    font-size: 9px;
  }

  .content-first-btn {
    width: 5rem;
    height: 1.5rem;
    font-size: 0.1rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    padding: 0px;
    font-size: 9px;
    border-radius: 2px;
  }

  .content-first-area {
    top: 40%;
  }

  .content-second-aboutme {
    h2,
    h1 {
      font-size: 1rem;
    }

    p {
      font-size: 0.5rem;
      line-height: 1rem;
    }
  }

  .container-main {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }

  .empty-space {
    height: 20px;
  }

  .container-content {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }

  .content-btn-readmore {
    font-size: 8px;
    transition: all 0.3s ease;
    outline: none;
    overflow: hidden;
    position: relative;
    border: none;
    padding: 3% 5%;

    &:after {
      content: "\00BB";
      position: absolute;
      opacity: 0;
      font-size: 0.9rem;
      line-height: 14px;
      top: 1;
      right: -20px;
      transition: 0.4s;
    }

    &:hover {
      padding-right: 15%;
    }
  }

  .content-second-area {
    padding-top: 0px;
  }

  .content-second-logo {
    padding: 0;
    justify-content: center;
    display: flex;
    align-items: center;
  }

  .content-second-aboutme {
    padding-left: 10px;
    padding-right: 0;
  }

  .item-grid {
    text-align: center;
    padding: 0 2px;
  }

  .item-detail {
    height: 3rem;
  }

  .item-detail {
    h2 {
      font-size: 8px;
      height: auto;
    }

    h1 {
      font-size: 7px;
      height: auto;
    }
  }

  .item-detail-price {
    position: relative;
    bottom: 0px;

    p {
      font-size: 6px;
      color: #27ed82;
    }

    .btn {
      font-size: 7px;
      box-shadow: inset 0px 0px 5px rgb(253 194 23 / 0%);
      padding: 0 5px;
    }
  }

  .content-third-itile h2 {
    font-size: 16px;
  }

  .item-img {
    width: 90%;
    height: 80px;
    // margin: 0;

    img {
      max-height: 80px;
      max-width: 80px;
    }
  }

  .container-allitem {
    display: none;
  }

  .footer-partner h4 {
    font-size: 1rem;
  }

  .partner-detail-d {
    height: 20px;
    width: 20px;
  }

  .partner-list {
    padding: 0px 10px;
  }

  .footer-contact {
max-width: 30%;
    p {
      font-size: 9px;
    }

  }

  .row {
    margin-right: 0;
    margin-left: 0;
  }

  /* ......................Trade Page..................... */

  .bg-tradeDetail {
    background: linear-gradient(180deg, rgb(248 252 254), #cfe8f7);
  }

  .content-tradeDetail {
    padding: 1% 0 0 10px;
    min-height: 80vh;
  }

  .text-tradeDetail {
    margin: 5% 0;
    width: 100%;
  }

  .img-tradeDetail {
    width: 95%;
  }

  .tradeDetail-left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
  }

  .tradeDetail-star {
    font-size: 0.5rem;
  }

  .tradeDetail-price {
    padding-top: 0;

    h6 {
      font-size: 6px;
      color: #8f8f8f;
    }

    h2 {
      font-size: 1rem;
    }

    h3 {
      font-size: 0.6rem;
    }

    input {
      border: 0px;
      background-color: transparent;
      text-align: center;
      font-size: 0.8rem;
      width: 25px;
    }
  }

  .btn-stock {
    margin: 0 15px;

    height: 20px;
    width: 20px;
  }

  .btn-Addtocart {
    width: 75px;
    height: 25px;
    padding: 0.2rem 0;
    margin-right: 1px;
    font-size: 0.5rem;

    &:hover {
      color: #ff1a01;
      transition: all 0.3s ease;
      transform: scale(1.02);
    }
  }

  .btn-Trade {
    width: 100px;
    height: 25px;
    padding: 0;
    font-size: 0.5rem;
    font-weight: 100;

    &:hover {
      transition: all 0.3s ease;
      color: #ffe107;
      transform: scale(1.02);
    }
  }


  .tradeDetail-name h2 {
    font-size: 0.8rem;
    margin: 0;
  }

  .item-img-detail {
    width: 100%;
    border-radius: 10px;
  }

  // marketplace

  .marketplace-Search-area {
    .input-group-prepend {
      height: 30px;
      font-size: 10px;
      padding: 0;
    }

    input {
      font-size: 10px;
      padding-left: 15%;
    }

    .fa-search {
      font-size: 0.5rem;
      top: 35%;
      padding-left: 5%;
    }
  }

  .marketplace-fillter-title {
    font-size: 0.6rem;
    padding: 0.2rem 0;
    .select2-container {
      height: 30px;

      .select2-selection {
        .select2-selection__arrow {
          top: 0;
        }
      }
    }
  }

  .textInCrad {
    padding: 17px 15px 0px 20px;
    width: 100%;
    height: 200px;
  }

  .sm-market-sort {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
  }

 
  .bg-third {
    min-height: 70vh;
  }

  .logo-vertify {
    padding: 8% 0;
  }

  .main-vertify {
    height: 400px;
    width: 320px;
  }

  .main-vertify-bg {
    align-items: flex-start;
  }

  .content-third-orderGame h2 {
    font-size: 20px;
  }

  .item-detail-tread {
    height: auto;

    h2 {
      font-size: 8px;
      height: auto;
    }

    h1 {
      font-size: 7px;
      height: auto;
      line-height: 1;
    }
  }

  .item-detail-price-tread {
    padding: 0;
    width: 95%;
    border-start-end-radius: 10px;
    border-start-start-radius: 10px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.529), transparent);

    p {
      font-size: 8px;
    }
  }

  .item-detail-price-myI {
    p {
      font-size: 8px;
    }

    span {
      font-size: 8px;
    }
  }

  .coin_icon {
    height: 12px;
    margin-right: 5px;
  }

  .myitems-fillter-title {
    .select2-container {
      padding: 0px 10px;

      .select2-selection {
        .select2-selection__rendered {
          width: -webkit-fill-available;
          font-size: 10px;
        }

        .select2-selection__placeholder {
          width: -webkit-fill-available;
          font-size: 10px;
        }

        .select2-selection__arrow {
          height: 26px;
          position: absolute;
          top: 10%;
          right: 1px;
          width: 20px;
        }
      }
    }
  }

  .logo-vertify {
    width: 70%;
  }

  .Pagination {
    width: 100%;
    margin: 5px 0;
  }

  .Pagination-item {
    margin: 0 2px;

    button {
      padding: 0.275rem 0.55rem;
      font-size: 8px;
    }
  }

  .history-fillter-group {
    width: 100%;
    margin-top: 10px;
  }

  .thClass {
    font-size: 10px;
  }

  .history-fillter-group-sm {
    flex-direction: column;
  }
  .history-fillter-sm {
    width: 80%;
  }
  table.vgt-table td {
    font-size: 8px;
  }
}
