.FF1A01 {
    color: #FF1A01 !important
}

.FFE107 {
    color: #FFE107 !important
}

.E740EB {
    color: #E740EB !important
}

.B3FCFE {
    color: #B3FCFE !important
}

.BDF101 {
    color: #BDF101 !important
}
.ffffff {
    color: #ffffff !important
}