@mixin animation-name($name) {
    animation-name: $name;
    -webkit-animation-name: $name;
    -moz-animation-name: $name;
    -ms-animation-name: $name;
}

@mixin animation-duration($duration) {
    animation-duration: $duration;
    -webkit-animation-duration: $duration;
    -moz-animation-duration: $duration;
    -ms-animation-duration: $duration;
}

@mixin animation-timing-function($func) {
    animation-timing-function: $func;
    -webkit-animation-timing-function: $func;
    -moz-animation-timing-function: $func;
    -ms-animation-timing-function: $func;
}

@mixin animation($name, $duration, $timing-func) {
    @include animation-name($name);
    @include animation-duration($duration);
    @include animation-timing-function($timing-func);
}

@keyframes spin {
    to {
        transform: rotate(360deg)
    }
}

.icon-btn {
    border: none;
    background-color: transparent;
    outline: 0;

    i {
        color: #ffffff;
        font-size: 1rem;
        cursor: pointer;
    }


    i.spin-animation {
        @include animation(spin, 0.5s, ease-in);
    }
}